@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rent-buy {
    0% {

    }
}


@media (max-width: 1100px) {
    #home-page-two{
        flex-wrap: wrap;
    }
    .home-2-box{
        width: 100%;
    }
    .page-2-large-div{
        width: 100%;
    }
    #home-page-three{
        flex-wrap: wrap;
    }
    
}
@media (max-width: 700px) {
    #main-nav{
        display: none;
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .text-page-4{
        width: 100%;
    }
    #img-div-home-page-4{
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
        border-radius: 20px;
    }
    .images-home-page-4{
        display: none;
    }
    .get-started-btn{
      border-radius: 40px;
      width: 100%;
    }
}
@media (min-width: 700px) {
    #hamburger-nav{
        display: none;
    }
    #hamburger{
        display: none;
    }
}
@media (max-width:400px ){
    #colored-shadow{
        left: 0px;
    }
}

/* nav menu to x styles and smooth dropdown*/
/* HamburgerMenu.css */
#hamburger {
    cursor: pointer;
  }
  
  .line {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  #line-1 {
    transform-origin: top left;
  }
  
  #line-3 {
    transform-origin: bottom left;
  }
  
  #hamburger.open #line-1 {
    transform: rotate(45deg) translate(2px, 2px);
  }
  
  #hamburger.open #line-2 {
    opacity: 0;
  }
  
  #hamburger.open #line-3 {
    transform: rotate(-45deg) translate(2px, -2px);
  }
  
  #hamburger-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  
  #hamburger-nav.max-h-96 {
    max-height: 400px; /* Adjust the value as needed to fit your content */
  }
  
  .nav-content {
    /* Add styles for your nav contents here */
    display: block;
  }
  
  