@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: none;
}

/* loading animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin .9s linear infinite;
}



@media (max-width: 1100px) {
    #home-page-two{
        flex-wrap: wrap;
    }
    #about-page-two{
      flex-wrap: wrap;
    }
    .home-2-box{
        width: 100%;
    }
    .page-2-large-div{
        width: 100%;
    }
    #home-page-three{
        flex-wrap: wrap;
    }
    #listing-page{
      flex-direction: column;
    }
    #search{
      flex-direction: row;
      width: 100%;
      height: auto;
    }
    #search-before-wrap{
      display: none;
    }

    
}
@media (max-width: 700px) {
    #main-nav{
        display: none;
    }
    footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .text-page-4{
        width: 100%;
    }
    #img-div-home-page-4{
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
        border-radius: 20px;
    }
    .images-home-page-4{
        display: none;
    }
    .get-started-btn{
      border-radius: 40px;
      width: 100%;
    }
    #home-page-listings-header{
      padding: 0;
      justify-content: center;
    }
    #agent-search{
      flex-wrap: wrap;
      padding: 0;
    }
    .agent-searches{
      width: 100%;
    }
  
  #listing-search-btn{
    width: 100%;
  }
  #listing-page{
    padding: 0;
  }
  #listing-page-search{
    padding: 10px;
  }
  #listing-page-buttons{
    margin-bottom:32px;
  }
  #about-us-page{
    text-align: center;
  }
  #team-cards-container{
    padding: 2rem;
  }
  #email-input{
    flex-direction: column;
  }
  #email-input input{
    width: 100%;
  }
  /* modal for filters */
  .filters-buy{
    width: 100vw;
    height: 130vh;
    margin: auto;
    position: relative;
    bottom: 250px;
    right: 10px;
  }
  .filters-price{
    width: 100vw;
    height: 130vh;
    margin: auto;
    position: relative;
    bottom: 225px;
    right: 10px;
  }
  .filters-bath{
    width: 100vw;
    height: 130vh;
    margin: auto;
    position: relative;
    bottom: 300px;
    right: 10px;
  }
  .filters-more{
    width: 100vw;
    height: 130vh;
    margin: auto;
    position: relative;
    bottom: 380px;
    right: 10px;
  }
  .short-page{
    height: 10px;
    overflow: hidden;
  }
  .no-footer{
    display: none;
  }
  .agent-cards{
    width: 400px;
  }
  #listing-page-search{
    flex-direction: column;
  }
  .width-max-out-mq{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem ;
  }
  #delete-saved-search{
    left: 95%;
  }
}
@media (min-width: 700px) {
    #hamburger-nav{
        display: none;
    }
    #hamburger{
        display: none;
    }
}
@media (max-width:400px ){
    #colored-shadow{
        left: 0px;
    }

}
@media (max-width: 800px) {
  #content-divs{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  #left-divs{
    width: 100%;
  }
  #right-divs{
    width: 100%;
  }
#details-page-listings-header{
  padding: 0;
}
#listing-detail-images{
  min-width: 380px;
  padding: 1rem;
}
#listing-detail-images img{
  width: 100%;
}

}

/* nav menu to x styles and smooth dropdown*/
/* HamburgerMenu.css */
#hamburger {
    cursor: pointer;
  }
  
  .line {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  #line-1 {
    transform-origin: top left;
  }
  
  #line-3 {
    transform-origin: bottom left;
  }
  
  #hamburger.open #line-1 {
    transform: rotate(45deg) translate(2px, 2px);
  }
  
  #hamburger.open #line-2 {
    opacity: 0;
  }
  
  #hamburger.open #line-3 {
    transform: rotate(-45deg) translate(2px, -2px);
  }
  
  #hamburger-nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  
  #hamburger-nav.max-h-96 {
    max-height: 400px; /* Adjust the value as needed to fit your content */
  }
  
  .nav-content {
    /* Add styles for your nav contents here */
    display: block;
  }
  
 /* Style the checked state */
.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 0.75em; /* Reduced to half the original size */
  height: 0.75em; /* Reduced to half the original size */
  border-radius: 50%;
  border: 2px solid gray;
  cursor: pointer;
  position: relative;
}

.custom-radio:checked {
  background-color: #f97316; /* Tailwind orange-300 */
  border-color: #f97316; /* Tailwind orange-300 */
}

.custom-radio:checked::after {
  content: '';
  display: block;
  width: 0.375em; /* Reduced to half the original size */
  height: 0.375em; /* Reduced to half the original size */
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  /* styling for listing filters */
@media (max-width:600px) {
 

}